bin
obj
debug
App_Data
packages
*.suo
*.user
node_modules
polemics-wizard.min.js
polemics-wizard.js
article-viewer.min.js
article-viewer.js
widgets/*.js
.idea
.idea/**
TestResults
TestResults/**
UpgradeLog*.htm*